html ,body{
    width: 100%;
}

/*  Navbar  */
.navbar{
    background-color: #000080;
}
ul li{
    margin-left: 25px;
}
#ind{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9933), color-stop(white), to(#138808));
    background-image: linear-gradient(#FF9933, white, #138808);
    padding: 6px;
    color: #000080;
}

/*  Main    */

/*  Main of Index.html  Starts*/
.header-info{
    margin: auto;
    padding: 5px;
}
#info{
    color: red;
    text-align: center;
    font-family: cursive;
}
.col{
    margin: 20px;
    text-align: center;
    padding: 50px;
    display: block;
}
.div-box{
    font-size: 20px;
}
.border{
    border-radius: 10%;;
}

hr{
    border: solid red 2px;
}

/*  Map Portion */
#indian-map{
    text-align: center;
}
img{
    width: 800px;
    height: 600px;
    align-self: center;
    border: dotted skyblue 1px;
    margin-top: 50px;
    margin-bottom: 100px;
}

/*  Main of Index.html  Starts*/

/*  Common Stylings */
h5, #alert{
    margin: 5px;
    text-align: center;
    padding: 5px;
}


/*  Main of Overvview.html  Starts*/
#main-text{
    margin: 20px;
    font-size: 22px;
    color: indigo;
}
.main-content{
    text-align: justify;
    font-size: 18px;
    color:#292f33;
}
/*  Main of Overview.html  Ends*/


/*  Main of Preventions.html  Starts*/


#tag{
    font-size: 20px;
    color: blue;
    font-weight: bold;
}
.prevention ul{
    list-style: square;
}
.prevention ul li{
    margin: auto;
    margin-top: 5px;
    font-size: 16px;
    color: rgb(90, 9, 158);
}
.top-div{
    margin: 20px;
    text-align: center;
}
.s-list{
    padding: 20px;
}
.list-header{
    margin: 5px;
    list-style: square;
    color: darkgreen;
    font-weight: bold;
}
.list-desc{
    color: rgb(90, 9, 158);
}
/*  Main of Preventions.html  Ends*/


/*  Main of Helpline.html  Starts*/
h5{
    background-color: burlywood;
}
#marquee{
    width: 80%;
    direction: left;
    height: 25%;
}
.table{
    border: solid black 1px;
    margin: 30px;
}
.table-head{
    font-size: 18px;
    background-color: #000080;
    color: yellow;
}
/*  Main of Helpline.html  Ends*/


/*  Media Object for diffrent devices   */
    
@media (max-width: 479px) {
    /* start of phone styles */
    img, .table{
        width: 350px;
        height: 250px;
    }  
}

@media (min-width: 480px) {
    /* start of medium tablet styles */
    img, .table{
        width: 450px;
        height: 300px;
    }
}

@media (min-width: 991px) {
    /* start of large tablet styles */
        img, .table{
            width: 700px;
            height: 600px;
        }
}
    




